@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Foldit:wght@500&family=Monoton&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bungee Inline';
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(120deg, #fff, #ff0054, #fff);
}.crono-container{
    width: 550px;
    height: 250px;
    display: block;
    align-items: center;
    justify-content: center;
    background: transparent;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}.crono-container .time-container{
    text-align: center;
    padding: 20px;
}.crono-container .time-container{
    font-size: 3rem;
    color: #fff;
}.crono-container .butons-crono{
    display: flex;
    align-items: center;
    justify-content: space-around;
}.crono-container .butons-crono button{
    width: 120px;
    height: 60px;
    border: none;
    cursor: pointer;
    color: #fff;
    background: linear-gradient(120deg, #ff0054,#fff,#ff0054);
    border-radius: 3px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .3);
}.crono-container .butons-crono button:disabled{
    border: none;
    background: linear-gradient(120deg, #ff0054,#f1f106,#ff0054);
}.crono-container .butons-crono button:hover{
    border: none;
    background: linear-gradient(120deg, #ff0054,#fff,#ff0054);
}.crono-container .butons-crono button:disabled:hover{
    border: none;
    background: linear-gradient(120deg, #ff0054,#f1f106,#ff0054);
}